h1{
    text-align: center;
    color: bisque;

}

body{
background-color: cornflowerblue;
text-align: center;
}

p{
    
    font-size: larger; 
    color: bisque;
}

button{

    align-content: center;
}
h2{
    font-size: small;



}